<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h1>Games</h1>
    <a href="/create">+ Add Game</a>
    <ul>
        <% games.forEach((game) => { %>
            <li>
                <%= game.name %> (<%= game.rating %>)
                <br>
                <i> <%= game.genre %>  </i>

                <a href="/update/<%= game.id %>">Edit</a>
                <br>
                <a href="/details/<%= game.id %>"><%= game.name %> (<%= game.rating %>) Details</a>

                <!-- Form para poder enviar un POST y borrar el registro -->
                <!-- No es un GET, ya que no consulta información -->
                <!-- Debería de ser un DELETE, pero utilizaremos POST (por motivos de simpleza) -->
                <form action="/delete" method="POST">
                    <!-- 1) La información que se va a enviar -->
                    <!-- hidden: envían información, pero no se ven -->
                    <input type="hidden" name="id" value="<%= game.id %>">
                    <!-- 2) Botón para enviar -->
                    <button>Delete</button>
                </form>
            </li>
        <% }); %> 
    </ul>
</body>
</html>